* {
    margin: 0;
    padding: 0;
}

.contenedorGrid{
    background-image: linear-gradient(#bbd2c5 , #536976);
    font-size: 62, 5%;
}

.logolocal {
    background-image: url(../imagenes/greyfloral.png);
}

@media screen and (max-width: 480px) {
    .logoLocal {
        background-image: url(../imagenes/pinkrice.png);
    }
}

.menuInicial {
    background-color:#85a396;
    display: inline-block;
    position: relative;
    font-size: 15px;
    padding: 0 10px;
    text-decoration: none;
    color: #3f403f;
    font-size: 18px;

}

.menuInicial li {
    display: inline-block;
    position: relative;
    padding: 0 5px;
    text-decoration: none;
    color: #3f403f;
    font-size: 18px;
}

.subMenu {
    display: none;
    position: absolute;

}

.subMenu li {
    display: block;
    background-color: #CCE3DE;

}

.subSale {
    display: none;
    position: absolute;

}

.subSale li {
    display: block;
    background-color: #CCE3DE;

}

.menuInicial li:hover ul {
    display: block;
}

.headerImg {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-image: url(../imagenes/greyfloral.png);
}
h1 {
    color: #4d695d;
    text-align: center;
    font-size: 50px;
}

h2 {
    color: #4d695d;
    font-size: 25px;
    padding: 10px;
}

h3 {
    color: black;
    font-size: 20px;
    padding: 10px;
}

h4 {
    color: black;
    font-size: 15px;
    padding: 10px;
}

body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Shadows Into Light', cursive;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

.linksRedesSociales {
    text-decoration: none;
    color:black
    font-size: 18px;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
}

.logosRedes {
    width: 30px;
    height: 30px;
    display: flex;
}

.fotosProductos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: #6B9080;


}

.fotosProductos div img {
    width: 250px;
    height: 250px;
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    transition: all 1s;
}

.fotosProductos div img:hover {
    width: 280px;
    height: 280px;
}

.logoWhatsApp{
    width: 80px;
    height: 60px;
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 1000;
}

img {
    display: block;
    margin: auto;
    width: 50vw;
    height: 50vh;
}

.cancelarCompra {
    width: 250px;
    height: 70px;
    font-size: 20px;
    text-align: center;
    background-color: #eaf4f4;
    position: relative;
    border: solid black;
    margin: auto;
}
.preguntasFrecuentes{
    background-color: #9fc3b3;
}
.botonCarrito{
    background-color: gray;
    border: gray;
}
